body{
	background-image:url(bg.png);
}
.all{
	margin:auto;
	width:1000px;/*Is it enough?*/
	padding:0px;
}
.header{
	float:none;
	width:706px;
	margin:0px;
	padding:0px;
}
.logo{
	width:100%;
	padding:0px;
	margin:0px;
}
.title{
	width:100%;
	padding:0px;
	margin:0px;
}
.r_panel{
	float:right;
	width:294px;
	margin:0px;
	padding:0px;
}
.login{
	width:100%;
	padding:0px;
	margin:0px;
}
.menu{
	width:100%;
	padding:0px;
	margin:0px;
}
	.menu ul li{
		text-align:right;
		list-style-type:circle;
	}
.calendar{
	width:100%;
	padding:0px;
	margin:0px;
	/*background-image:;
	background-repeat:repeat-y;*/
}
.cal_nadpis{
	width:100%;
	/*margin:;
	padding:;
	background-image:;
	background-repeat:no-repeat;*/
}
.cal_obsah{
	width:100%;
	/*margin:;
	padding:;
	background-image:;
	background-repeat:no-repeat;*/
}
.main{
	float:left;
	width:706px;
	padding:0px;
	margin:0px;
}
.aktuality{
	width:100%;
	padding:0px;
	margin:0px;
	/*background-image:;
	background-repeat:repeat-y;*/
}
.akt_nadpis{
	width:100%;
	/*margin:;
	padding:;
	background-image:;
	background-repeat:no-repeat;*/
}
.akt_obsah{
	width:100%;
	/*margin:;
	padding:;
	background-image:;
	background-repeat:no-repeat;*/
}
.obsah{
	width:100%;
	/*margin:;
	padding:;*/
}
.footer{
	float:right;
	width:294px;
	margin:0px;
	padding:0px;
}