body{
	background-color:#C9BEA3;
	background-image:url('bg.png');
	font-family:"Verdana", Helvetica, sans-serif;
}
.all{
	margin:auto;
	width:1000px;/*Is it enough?*/
	padding:0px;
}
.header{
	float:left;
	width:706px;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
}
.logo{
	width:100%;
	padding:0px;
	margin:0px;
}
	.header p{
		width:100%;
		padding:0px;
		margin:0px;
		text-transform:uppercase;
		color:green;
		text-align:center;
		font-size:30px;
		height:30px;
		overflow:hidden;
	}
.r_panel{
	float:right;
	width:294px;
	margin:0px;
	padding:0px;
}
.login{
	width:100%;
	padding:0px;
	margin:0px;
	text-align:right;
}
.login ul{
	display:none;
}
.menu{
	width:100%;
	padding:0px;
	margin:0px;
	margin-left:6px;
}
	.menu ul{
		list-style-position:inside;
		margin-top:0px;
		margin-bottom:0px;
	}
		.menu ul li{
			height:56px;
			width:254px;
			padding-right:45px;
			text-align:right;
			list-style-type:none;
			background-image:url('kolecko.png');
			background-repeat:no-repeat;
			background-position:right center;
		}
				.menu ul li a{
				font-size:32px;
				color:red;
				text-decoration:none;
			}
				.menu ul li a:active, .menu ul li a:hover{
					border-bottom:2px dashed;
				}
.menu_patka{
	width:254px;
	height:49px;
	padding:0px;
	margin:0px;
	background-image:url('menu_patka.png');
	background-repeat:no-repeat;
	background-position:right center;
	padding-right:45px;
	margin-left:6px;
}
.calendar{
	visibility:hidden; /*Temp before removal*/
/*	width:100%;*/
	margin:0px;
/*	padding:0px;*/
	text-align:right;
	float:right;
}
.cal_nadpis{
/*	width:100%;*/
	height:30px;
	margin:0px;
	padding-top:103px;
	padding-right:23px;
	background-image:url('cal_nadpis.png');
	background-repeat:no-repeat;
	background-position:right top;
	color:#0e6b50;
	text-transform:uppercase;
	font-size:25px;
}
.cal_nadpis p{
	margin:0px;
}
.cal_obsah{
	width:211px;
	margin:0px;
	padding-right:23px;
	padding-left:20px;
/* 	padding-bottom:26px; */
	color:#0076ca;
	font-size:18px;
	background-image:url('cal_obsah.png');
	background-repeat:repeat-y;
	background-position:right center;
}
.cal_obsah p{
	margin:0px;
}
.cal_obsah p{
	margin-top:0px;
	padding-top:18px;
	margin-bottom:0px;
	padding-bottom:18px;
}
.cal_patka{
	margin:0px;
	padding-right:23px;
	padding-bottom:24px;
	background-image: url('cal_patka.png');
	background-repeat:no-repeat;
	background-position:right bottom;
}
.main{
	float:left;
	width:706px;
	padding:0px;
	margin:0px;
}
.aktuality{
/*	width:100%;*/
	margin:0px;
/*	padding:0px;*/
	text-align:left;
}
.akt_nadpis{
	height:30px;
	margin:0px;
	padding-top:20px;
	padding-left:23px;
	background-image:url('akt_nadpis.png');
	background-repeat:no-repeat;
	background-position:left top;
	color:#c5062f;
	text-transform:capitalize;
	font-size:25px;
}
.akt_nadpis p{
	margin:0px;
}
.akt_obsah{
	/*width:200px;*/
	margin:0px;
	padding-left:23px;
	/*padding-bottom:37px;*/
	color:#006cda;
	font-size:18px;
	background-image:url('akt_obsah.png');
	background-repeat:repeat-y;
	background-position:left center;
}
.akt_obsah p{
	margin:0px;
}
.akt_patka{
	margin:0px;
	padding-left:23px;
	padding-bottom:37px;
	background-image: url('akt_patka.png');
	background-repeat:no-repeat;
	background-position:left bottom;
}
.obsah{
	width:100%;
	/*margin:;
	padding:;*/
}
	.obsah dl, .obsah ul{
		display:none;
	}
	.obsah h1, .obsah h2{
		text-align:center;
		text-decoration:none;
	}
		.obsah a{
			text-decoration:none;
		}
			.obsah a:active, .obsah a:hover{
				border-bottom:2px dashed;
			}
.footer{
	float:right;
	width:294px;
	margin:0px;
	padding:0px;
}